
body {
    display: flex;
    justify-content: center;
    background-color: #f7beff;
    background-image: url("./batthern.png");
}

h1 {
    align-self: center;
}

#calc-container {
    display: flex;
    flex-flow: column;
    width: 280px;
    background-color: #ebebeb;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 4px;
    padding: 8px;
}

#fields {
    display: flex;
    flex-flow: column;
}

#fields > * {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
}
